.container {
  height: 45vh;
  width: 100vw;
  background-color: var(--color-ii);
  display: flex;
  justify-content: center;
  padding-top: 2%;
}

.cardContainer {
  width: 17vw;
  height: 85%;
  margin: 10px;
  margin-right: 1.5vw;
  background-color: var(--color-ii-i);
  border-radius: 15px;
}

.cardImgContainer {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 6vh;
  width: 6vh;
  margin-left: 10%;
  /* background-color: rgb(255,255,255,0.2); */
  background-color: rgb(100, 100, 100, 0.2);
  box-shadow: 1px 2px rgb(100, 100, 100, 0.2);
  border-radius: 50%;
}

.cardImg {
  /* background-color: blue; */
  height: 5vh;
  width: 5vh;
}

.cardTitle {
  color: var(--color-i);
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  padding: 10%;
}

.cardDesc {
  color: var(--color-i);
  font-size: 18px;
  padding-left: 10%;
  padding-right: 10%;
  text-align: left;
}

@media (min-width: 480px) {
  /* Styles for mobile (medium) */
}

@media (min-width: 768px) {
  /* Styles for tablets */
}

@media (min-width: 1025px) and (max-width: 1366px) {
  .container {
    height: 52vh;
  }
  .cardContainer {
    width: 18vw;
    margin-top: 0;
    height: 85%;
  }
  .cardTitle {
    font-size: 20px;
  }

  .cardDesc {
    font-size: 16px;
    line-height: 2.6vh;
  }
}