.container {
  height: 60vh;
  width: 100vw;
  max-width: 100vw;
  background-color: var(--color-i-i);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.innerContainer {
  height: 42vh;
  width: 75%;
  background-color: var(--color-i);
  border-radius: 15px;
  display: flex;
  justify-content: space-around;
}

.leftContainer, .rightContainer {
  display: flex;
  align-items: center;
}

.prev, .next {
  position: absolute;
}

.prev { left: 15vw; }
.next { right: 15vw; }

.avatar {
  height: 9vw;
  width: 9vw;
  border-radius: 50%;
  margin: 0 1vw 0 3vw;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 12vw;
}

.title {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 1vh;
  text-align: left;
  width: 100%;
}

.position {
  font-size: 17px;
  color: rgba(0, 0, 0, 0.7);
  text-align: left;
  width: 100%;
}

.description {
  max-width: 35vw;
  font-size: 24px;
  text-align: left;
  margin-right: 5vw;
  line-height: 4vh;
  color: rgb(50, 50, 50);
}

.prev:hover, .next:hover {
  transform: scale(1.2);
  opacity: 0.8;
}

.prevRightCont {
  display: none;
  font-size: 20px;
  /* position: static; */
}


/* Responsive Styles */
@media (max-width: 479px) {
  .innerContainer {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .leftContainer {height: 30%;}
  .prev {display: none;}
  .prevRightCont {display: block;}
  .next {
    font-size: 20px;
    position:static;
  }
  .avatar {
    height: 15vw;
    width: 15vw;
    margin: 0 2vw 0 8vw;
  }
  .titleContainer { max-width: 50vw; }
  .title { font-size: 18px; }
  .position { font-size: 12px; }
  .description {
    max-width: 70vw;
    min-width: 60vw;
    margin-right: 5vw;
    margin-left: 5vw;
    font-size: 18px;
    margin-top: 6vh;
    line-height: 3vh;
    text-align: center;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .innerContainer { width: 100%; justify-content: flex-start; }
  .prev, .next {
    font-size: 20px;
    position: static;
  }
  .avatar {
    height: 12vw;
    width: 12vw;
    margin: 0 2vw 0 8vw;
  }
  .titleContainer { max-width: 22vw; }
  .title { font-size: 18px; }
  .position { font-size: 12px; }
  .description {
    max-width: 44vw;
    font-size: 20px;
    margin-left: 6vw;
    line-height: 3vh;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .prev { left: 8vw; }
  .next { right: 8vw; }
  .prev, .next {font-size: 20px;}
  .titleContainer { max-width: 18vw; }
  .title { font-size: 22px; }
  .position { font-size: 15px; }
  .description { font-size: 18px; line-height: 3vh; }
}

@media (min-width: 1025px) and (max-width: 1366px) {
  .innerContainer { width: 88%; }
  .prev { left: 10vw; }
  .next { right: 10vw; }
  .avatar { margin-left: 2vw; }
  .description { margin-right: 2vw; max-width: 38vw; }
  .titleContainer { max-width: 18vw; }
}
