.navbar {
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--color-i);
  contain: content ;
}

.titleContainer {
  display: flex;
  padding-left: 10vw;
  padding-right: 3vw;
}

.titleContainer span {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 26px;
  color: var(--color-iii);
}

.titleContainer img {
  height: 7vh;
}

.searchCompact {
  display: flex;
  align-items: center;
  border-radius: 999px;
  overflow: hidden;
  border: 1px solid #000;
  max-width: 35vw;
  padding-right: 0;
}

.searchSelect {
  height: 4vh;
  width: 9vw;
  border-top-left-radius: 999px;
  border-bottom-left-radius: 999px;
  overflow: hidden;
}

.searchInput {
  width: 35vw;
  height: 4vh;
  border-top-right-radius: 999px;
  border-bottom-right-radius: 999px;
  overflow: hidden;
}

.searchInput input {
  height: 4vh;
}

.searchInput span {
  height: 4vh;
}

.searchButtonsContainer {
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  display: flex;
  align-items: center;
  margin-bottom: 1vh;
}

.imageSearch {
  margin: auto;
  border: 0;
  font-size: large;
}

.searchButtonInnerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #aaa;
  border-radius: 999px;
  overflow: hidden;
  height: 3vh;
  background-color: var(--color-iii);
  color: var(--color-i);
  cursor: pointer;
}

.searchButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  background-color: var(--color-iii);
  color: var(--color-i);
  font-size: medium;
  margin-left: 1vw;
  margin-right: 0.5vw;
}

.searchText {
  align-items: center;
  font-size: medium;
  margin: auto;
  padding-right: 1vw;
}

.deliveryContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 3vw;
  cursor: pointer;
}

.deliveryText {
  font-size: 14px;
}

.deliveryMenu {

}

.language {
  margin-left: 2vw;
  cursor: pointer;
}

.cart {
  margin-left: 2vw;
  font-size: 24px;
  cursor: pointer;
}

.signin {
  margin-left: 2vw;
  cursor: pointer;
}

.signup {
  border: 1px solid var(--color-iii);
  background-color: var(--color-iii);
  border-radius: 999px;
  padding: 8px 1.5vw 8px 1.5vw;
  margin-left: 2vw;
  color: var(--color-i);
  text-align: center;
  cursor: pointer;
}

.menuButton {
  border: 0;
  display: none;
}

.drawer {
  display: none;
}

.drawerDeliveryContainer {
  margin-bottom: 3vh;
}
.drawerLanguage {
  margin-bottom: 3vh;

}
.drawerCart {
  margin-bottom: 3vh;
}

@media (max-width: 479px) {
  .menuButton {
    display: block;
  }
  .drawer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  .titleContainer span {
    display: none;
  }
  .language, .deliveryContainer, .searchSelect, .searchText, .imageSearch, .cart {
    display: none;
  }
  .titleContainer {
    padding-left: 3vw;
    padding-right: 2vw;
  }
  .signin {
    margin-left: 3vw;
    font-size: 10px;
  }
  .signup {
    font-size: 10px;
    margin-left: 3vw;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .titleContainer span {
    font-size: 18px;
  }
  .language, .deliveryContainer, .searchSelect, .searchText, .imageSearch, .cart {
    display: none;
  }
  .searchButtonInnerContainer {
    margin-right: 0;
  }
  .titleContainer {
    padding-left: 5vw;
    padding-right: 2vw;
  }
  .signin {
    margin-left: 3vw;
    font-size: 12px;
  }
  .signup {
    font-size: 12px;
  }
}

@media (min-width: 768px) and (max-width: 1024px){
  .titleContainer {
    padding-left: 3vw;
  }
  .titleContainer img {
    height: 5vh;
  }
  .titleContainer span {
    font-size: 20px;
  }
  .searchSelect {
    height: 3vh;
  }
  .searchInput {
    height: 3vh;
  }
  .searchInput input {
    height: 3vh;
  }
  .searchInput span {
    height: 3vh;
  }
  .searchButton {
    margin-left: 0vw;
    margin-right: 0vw;
  }
  .searchText {
    display: none;
  }
  .searchButtonInnerContainer {
    height: 2.3vh;
    width: 2.5vh;
  }
  .deliveryContainer {
    margin-left: 2vw;
    margin-left: 1.5vw;
    margin-right: 0;
  }
  .deliveryText {
    font-size: 10px;
  }
  .deliveryMenu {
    font-size: 11px;
  }
  .language {
    font-size: 12px;
    margin-left: 1.5vw;
    margin-right: 0;
  }
  .cart {
    font-size: 18px;
    margin-left: 1.5vw;
    margin-right: 0;
  }
  .signin {
    font-size: 10px;
    margin-left: 1.5vw;
    margin-right: 0;
  }
  .signup {
    font-size: 10px;
    margin-left: 1.5vw;
    margin-right: 0;
  }
}

@media (min-width: 1025px) and (max-width: 1366px) {
  .titleContainer {
    padding-left: 4vw;
  }
  .titleContainer span {
    font-size: 20px;
  }
}